html {
    background-color: #58707c;
}
body {
    height: 100%;
    margin-left: calc(100vw - 100%);
}
#root {
    min-height: 100%;

    > div {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}
